<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RTL8188EU</string>
	<key>CFBundleGetInfoString</key>
	<string>1012.11252014, Copyright © Realtek Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.RTL8188EU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1012</string>
	<key>CFBundleSignature</key>
	<string>realtek</string>
	<key>CFBundleVersion</key>
	<string>1012</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Abocom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>33145</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>DLINK_DWA123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>13072</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLINK_DWA125</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>13071</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLINK_GO_USB_N150</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>13073</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>ELECOM WDC-150SU2M</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>16392</integer>
			<key>idVendor</key>
			<integer>1390</integer>
		</dict>
		<key>RTL8188EU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>33145</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188EU_ETV</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>377</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188EU_VAU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>41337</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Sitecom WLA-1100</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RTL8188EU</string>
			<key>IOClass</key>
			<string>RTL8188EU</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>118</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
</dict>
</plist>
